form.changePassword {
	padding: 10px;
	margin: 10px auto;
	width: 280px;
}

form.changePassword img.logo {
	width: 64px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

form.changePassword span {
	padding: 10px 0;
}

form.changePassword input {
	display: block;
	margin: 10px 0 0 74px;
}
