div#renderA, div#renderB {
	margin: 5px;
}

form.mainLogin {
	display: block;
	margin: 70px auto 0 auto;
}

form.mainLogin img.logo {
	image-rendering: optimizeSpeed;
	width: 100px;
	height: auto;
	display: block;
	margin: 0 auto 20px auto;
}

form.mainLogin input[type=text],
form.mainLogin input[type=password],
form.mainLogin input[type=button],
form.mainLogin input[type=submit] {
	font-size: 1.1em;
	display: block;
	margin: 0 auto 5px auto;
	width: 150px;
}

form.mainLogin input[type=text] {
	font-variant: small-caps;
}

form.mainLogin label.mainLoginRemember {
	margin: 0 auto 20px auto;
	display: block;
	background-color: rgba(0, 100, 150, 0.1);
	padding: 1px 5px;
	width: 150px;
	opacity: 0.8;
	box-shadow: 1px 1px #96A5B2;
}

form.mainLogin input.mainLoginRememberCheckbox {
	display: inline;
}

form.mainLogin span.mainLoginRememberText {
	position: relative;
	bottom: 2px;
	margin-left: 5px;
	font-size: 11px;
}

form.mainLogin input.create {
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	width: 120px;
}

form.mainLogin span.version {
	opacity: 0.8;
	font-size: 12px;
	position: fixed;
	left: 1px;
	bottom: 1px;
}

div.mainRoster {
}

div.mainRosterIntro {
	padding: 8px;
	opacity: 0.8;
}

div.mainRosterIntro p {
	line-height: 24px;
	font-size: 14px;
}

div.mainRosterIntro[data-visible="false"] {
	display: none;
}

div.mainRosterIsReconn {
	height: 14px;
	font-size: 12px;
	padding: 6px 0;
	text-align: center;
	width: 98%;
	margin: -31px auto 5px auto;
	border-radius: 0 0 4px 4px;
	transition: margin-top 0.5s;
	background-color: #F1375A;
	color: #FFF;
	font-weight: bold;
	font-variant: small-caps;
}

div.mainRosterIsReconn[data-visible="true"] {
	margin-top: -5px;
}

input.mainRosterFilter {
	margin: 0 auto;
	display: block;
	width: 98%;
	box-sizing: border-box;
	padding-left: 30px;
	background-image: url('../img/icons/search.png');
	background-position: 5px center;
	background-size: 20px;
	background-repeat: no-repeat;
	font-size: 14px;
	height: 30px;
}

div.mainRosterBuddy {
	margin: 5px 2px 0 2px;
	padding: 12px 10px 12px 10px;
	font-size: 14px;
	border-bottom: 1px solid #EEE;
	background-color: #FFF;
	transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
}

div.mainRosterBuddy:active {
	opacity: 1;
	box-shadow: inset 1px 1px #96A5B2;
	background-color: #FFF !important;
	color: #333 !important;
}

img.mainRosterBuddyAvatar {
	width: 32px;
	height: 32px;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 10px;
	float: left;
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 32px;
}

span.mainRosterBuddyUsername {
	font-variant: small-caps;
}

span.mainRosterBuddyStatusText {
	display: block;
	opacity: 0.7;
	font-size: 0.8em;
	padding: 0px 0 0 15px;
}

div.mainRosterBuddy[data-visible="false"] {
	display: none;
}

div.mainRosterBuddy[data-status="0"] {
	opacity: 0.8;
}

div.mainRosterBuddy[data-status="0"] img.mainRosterBuddyAvatar {
	box-shadow: 0px 0px 1px 1px #F1375A;
}

div.mainRosterBuddy[data-status="1"] {
	opacity: 1;
}

div.mainRosterBuddy[data-status="1"] img.mainRosterBuddyAvatar {
	box-shadow: 0px 0px 1px 1px #F1A900;
}

div.mainRosterBuddy[data-status="2"] {
	opacity: 1;
}

div.mainRosterBuddy[data-status="2"] img.mainRosterBuddyAvatar {
	box-shadow: 0px 0px 1px 1px #34B3C2;
}

div.mainRosterBuddy[data-status="0"]:hover {
	background-color: #F1375A;
	color: #FFF;
}

div.mainRosterBuddy[data-status="1"]:hover {
	background-color: #F1A900;
	color: #FFF;
}

div.mainRosterBuddy[data-status="2"]:hover {
	background-color: #34B3C2;
	color: #FFF;
}